:root {
    --prmary-text-color: #757575;
        --title-text-color: #212121;
        --accent-color: #2196f3;
        --white-color: #ffffff;
        --black-color: #000000;
        --bg-main-color: #f5f5f5;
        --bg-our-color: #f5f4fa;
        --bg-footer-color: #2f303a;
        --footer-address-rgba: rgba(255, 255, 255, .6);
        --border: #eeeeee;
}

body {
        color: var(--prmary-text-color);
        font-family: 'Roboto', sans-serif;
}


.header-logo {
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
}

.header-logo-blue {color: var(--accent-color);}

.navigation-list {
    list-style: none;
}

.navigation-item-current {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration-line: none;
}

.navigation-item-current:hover,
.navigation-item-current:focus  {
    color: var(--accent-color);
}

.navigation-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration-line: none;
}


.navigation-item:hover,
.navigation-item:focus
{color: var(--accent-color);
}

.contact-list {list-style: none;}

.contact-item {
    color: var(--prmary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration-line: none;
}

.contact-item:hover,
.contact-item:focus
{
        color: var(--accent-color);
}

.hero {background-color: var(--bg-footer-color);
}

.hero-title {font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);}

.btn {
    color: var(--white-color);
        background-color: var(--accent-color);
        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
}

.btn:hover,
.btn:focus {
background-color: #188CE8;
}

.features-title {
    display: none;
}

.plan {
}

.features-list {
    list-style: none;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.p-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

}

.job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.img {
background: url(4853.jpg);
border-radius: 0px;
text-align: center;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);}

.list {list-style: none;}

.team {background: var(--bg-our-color);
}

.team-item {
    background: var(--white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
width: 370px;
text-align: center;
}

.team-name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        text-align: center;
}

.p-job {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--prmary-text-color);
}

.footer {background: var(--bg-footer-color);}

.logo-footer {
    color: var(--white-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration-line: none;
}

.contact-list-footer {list-style: none;}

.contact-item-address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--white-color);
}

.contact-item-footer {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}

.footer-link-address {
        text-decoration-line: none;
        color: var(--footer-address-rgba);
}

.footer-link-address:hover,
.footer-link-address:focus {
        color: var(--white-color);
}

.footer-link {
    text-decoration-line: none;
    color: var(--footer-address-rgba);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--white-color);
}

/* .................PORTFOLIO PAGE................. */

.gallery {
}

.gallery>.gallery-title {
    display: none;

}

.filter {
    cursor: pointer;
    list-style: none;
}


.filter-btn {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--bg-our-color);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.gallery-list {
    list-style: none;
}

.title-port {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-port {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: var(--prmary-text-color);
}


